{% extends "dashboard/index.twig" %}

{% block title %}
    {{ labels.producer_dashboard_index_page_title }}
{% endblock %}

{% block heading %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Wedstrijden
            </h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <p class="error">            
            </p>
            {% if competitions is empty%}
                <p> Er zijn nog geen competities </p>
            {% else %}
                <table class="table table-header">
                    <tr>
                        <th>Titel</th>
                        <th>Omschrijving</th>
                    </tr>
                </table>
                {% for competition in competitions %}
                    <table class="table"> 
                        <tr>
                            <td><a href="test" class="table-link">{{competition.title}}</a></td>
                            <td><a href="test" class="table-link">{{competition.description}}</a></td>
                        </tr>
                </table>
                    </a>

                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}