{% extends "dashboard/index.twig" %}

{% block title %}
    Competition
{% endblock %}


{% block heading %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>{{competition.title}}</h1>
                <h4>{{competition.description}}</h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
HIER KOMEN DE RONDES
        </div>
    </div>
    
        <div class="row">
        <div class="col-lg-12">
HIER KOMEN DE TEAMS
        </div>
    </div>
    
{% endblock %}
