mastersofcode-workspace
mastersofcode-service
mastersofcode-domain
mastersofcode-client
mastersofcode-archetype
mastersofcode-builder
/mastersofcode-adminclient/target/
/mastersofcode-spectatorclient/target/