{% extends "dashboard/index.twig" %}

{% block title %}
    Team
{% endblock %}


{% block heading %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{team.teamname}}
                <a href="/mok/teams/{{team.username}}/addmember" class="btn btn-default btn-header">
                    Deelnemer toevoegen
                </a>
            </h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <p class="error">            
            </p>
            {% if members is empty%}
                <p> Er zijn nog geen deelnemers </p>
            {% else %}
                <table class="table-link" style="width:60%;">
                    <thead>
                        <tr>
                            <th style="width:40%;">Naam</th>
                            <th style="width:55%;">Email</th>
                            <th style="width:5%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                            <tr>
                                <td>{{member.membername}}</td>
                                <td>{{member.email}}</td>
                                <td><a href="#"><span class="fa fa-minus-circle"></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}
