{% extends "dashboard/index.twig" %}

{% block title %}
    Deelnemer toevoegen
{% endblock %}

{% block heading %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Deelnemer toevoegen
            </h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <form method="POST">    
                <h3>
                    Algemene deelnemer informatie
                </h3>
                <div class="form-group">
                    <label>Naam</label>
                    <input name="membername" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input name="email" class="form-control" required autofocus type="email">
                </div>
                <button type="submit" class="btn btn-default">Aanmaken</button>
            </form>  
        </div>
    </div>
{% endblock %}
