{% extends "dashboard/index.twig" %}

{% block title %}
    Nieuwe ronde
{% endblock %}


{% block heading %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Nieuwe ronde
            </h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <p>
                NIEUWE RONDE AANMAKEN
            </p>
        </div>
    </div>
{% endblock %}
